:root {
  --ff-heading: "DM Serif Display", serif;
  --ff-base: "Karla", sans-serif;

  --bg-footer: #fafafa;
  --bg-card: #2d2641;

  --white: #ffffff;
  --grey-100: #dadada;
  --grey-300: #837d88;
  --grey-500: #96a9c6;
  --grey-700: #2d2641;
  --grey-900: #2c2830;
  --accent-color: #c396c6;
}
