@use "../mixins" as m;

.navigation {
  @include m.respond(tab-port) {
    background-color: var(--white);
    position: fixed;
    z-index: 999;
    width: 100%;
    top: -5rem;
    top: 0;
  }

  &__content {
    @include m.main-content;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position: relative;

    @include m.flex-center(1rem, row);
    justify-content: space-between;

    @include m.respond(tab-port) {
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
    }
  }

  &__icon {
    @include m.respond(phone) {
      display: none;
    }
  }

  &__links {
    @include m.flex-center(1.5rem, column);

    background-image: url("./images/bg-pattern-mobile-nav.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;

    position: absolute;
    top: 80px;
    left: 0;
    transform: translateY(-150%);
    background-color: var(--grey-900);
    min-height: 100vh;
    height: 30rem;
    width: 100%;
    z-index: 99;
    padding-top: 2.5rem;

    @include m.respond(phone) {
      background-image: none;
      position: static;
      background-color: transparent;
      transform: translateY(0);

      flex-direction: row;
      min-height: 0;
      height: auto;
      width: auto;
      padding: 0;
    }

    &__link {
      color: var(--white);
      font-size: 1.25rem !important;

      @include m.respond(phone) {
        color: var(--grey-300);
        font-size: 0.8215rem !important;

        @media (hover: hover) {
          &:hover {
            color: var(--grey-900);
          }
        }
      }
    }
  }
}
